input.form-control {
    margin-bottom: 10px;
}


html{
    height:100%;
}
body {
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-x: hidden;
    height: 100%;
}
.list-group{
    margin-bottom: 55px;
    padding-top: 40px;
}

.navbar-default .navbar-brand {
    color: white;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 55px;
    margin-bottom: 55px;
}


div#allign{
    padding-top: 50px;
}

.sb-toolbar {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.7;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.sb-col-border{
    border-right-style:solid;
    border-color:lightgray;
}

.sb-extend-screen{
    height: 100%;
}
.sb-full-screen{
    height:100%;
}

.sb-form-padding{
    padding-top: 40px;
    margin-bottom: 50px;
}