input.form-control {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
    padding-top: 19px;
}
html{
    height:100%;
}
body {
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-x: hidden;
    height: 100%;
    margin-bottom: 115px;
}
.list-group{
    margin-bottom:55px;
    padding-top: 30px
}

.navbar-default .navbar-brand {
    color: white;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}


div#allign{
    padding-top: 28px;
}

.sb-toolbar {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.7;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.sb-col-border{
    border-right-style:solid;
    border-color:lightgray;
}

.sb-extend-screen{
    height: 100%;
}
.sb-full-screen{
    height:100%;
}