<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">
        <div>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="navbar-brand glyphicon glyphicon-chevron-left">
            </a>
        </div>
        <div>
            <a class="navbar-brand">
                Widget Edit
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid sb-form-padding">
    <div class="input-group">
        <input ng-model="searchText" type="text" class="form-control">
        <span class="input-group-btn">
        <a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>
    <div class="row container-fluid">
        <div class="col-xs-4" style="padding-left:0px; padding-right:0px;" ng-repeat="photo in model.photos.photo">
            <img width="100%"
                 ng-click="model.selectPhoto(photo)"
                 ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
        </div>
    </div>
</div>

<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid bg-primary">-->
        <!--<div class="navbar-text pull-left page-text">-->
            <!--<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">-->
                <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="navbar-text pull-right page-text">-->
            <!--<a href="">-->
                <!--<span class="glyphicon glyphicon-plus"></span>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="navbar-header page-text">-->
            <!--<a class="navbar-brand" href="#">Widgets</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<!--<div class="container-fluid">-->
    <!--<div class="input-group">-->
        <!--<input ng-model="searchText" type="text" class="form-control">-->
        <!--<span class="input-group-btn">-->
        <!--<a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">-->
            <!--<span class="glyphicon glyphicon-search"></span>-->
        <!--</a>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="row container-fluid">-->
        <!--<div class="col-xs-4" style="padding-left:0px; padding-right:0px;" ng-repeat="photo in model.photos.photo">-->
            <!--<img width="100%"-->
                 <!--ng-click="model.selectPhoto(photo)"-->
                 <!--ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
    <!--<div class="container-fluid bg-primary">-->

        <!--<a href="#/user/{{model.userId}}" class="navbar-link navbar-brand pull-right">-->
          <!--<span class="glyphicon glyphicon-user">-->
          <!--</span>-->
        <!--</a>-->

    <!--</div>-->
<!--</nav>-->

<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid bg-primary">-->
        <!--<div>-->
            <!--<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"-->
               <!--class="navbar-brand glyphicon glyphicon-chevron-left">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a class="navbar-brand">-->
                <!--Widget Edit-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<!--<div class="container-fluid">-->
    <!--<div class="input-group">-->
        <!--<input ng-model="searchText" type="text" class="form-control">-->
        <!--<span class="input-group-btn">-->
        <!--<a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">-->
            <!--<span class="glyphicon glyphicon-search"></span>-->
        <!--</a>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="row container-fluid">-->
        <!--<div class="col-xs-4" style="padding-left:0px; padding-right:0px;" ng-repeat="photo in model.photos.photo">-->
            <!--<img width="100%"-->
                 <!--ng-click="model.selectPhoto(photo)"-->
                 <!--ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <a class="navbar-brand glyphicon glyphicon-user pull-right" href="#/user/{{model.userId}}">
        </a>
    </div>
</nav>