<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">
        <a class=" navbar-brand pull-left glyphicon glyphicon-chevron-left"
           href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
        </a>
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
           class="navbar-brand pull-right glyphicon glyphicon-plus">
        </a>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Widgets</a>
        </div>
    </div>
</nav>

<div class="container-fluid sb-form-padding">

    <div class="widget-list" wbdv-sortable="">
        <div ng-repeat="widget in model.widgets">
            <div ng-switch="widget.widgetType">
                <div class="sb-toolbar">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>

                <div ng-switch-when="HEADER" class="sb-widget-padding">
                    <ng-include src="'views/widget/templates/widget-HEADER.view.client.html'"></ng-include>
                </div>
                <div ng-switch-when="IMAGE" class="sb-widget-padding">
                    <ng-include src="'views/widget/templates/widget-IMAGE.view.client.html'"></ng-include>
                </div>
                <div ng-switch-when="HTML" class="sb-widget-padding">
                    <ng-include src="'views/widget/templates/widget-HTML.view.client.html'"></ng-include>
                </div>
                <div ng-switch-when="YOUTUBE" class="sb-widget-padding">
                    <ng-include src="'views/widget/templates/widget-YOUTUBE.view.client.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <a class="glyphicon glyphicon glyphicon-triangle-right pull-left navbar-brand pull-right"></a>
        <a class="glyphicon glyphicon glyphicon glyphicon-eye-open pull-left navbar-brand pull-right"></a>
        <a class="glyphicon glyphicon-user pull-right navbar-brand pull-right" href="#/user/{{model.userId}}"></a>
    </div>
</nav>

