<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid bg-primary">
        <div class="col-sm-4 hidden-xs">
            <a class="glyphicon glyphicon-chevron-left navbar-brand pull-left"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"></a>
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Pages</a>
            </div>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new"
               class="glyphicon glyphicon-plus pull-right navbar-brand"></a>
        </div>

        <div class="col-sm-8">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
               class="glyphicon glyphicon-chevron-left navbar-brand visible-xs"></a>
            <a ng-click="model.updatePage(model.page)" class="glyphicon glyphicon-ok pull-right navbar-brand"></a>
            <div class="navbar-header">
                <a class="navbar-brand no-left-padding no-left-margin" href="#">Edit Page</a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid sb-extend-screen">
    <div class="col-sm-4 hidden-xs sb-col-border sb-full-screen">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="page in model.pages">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-sm-8">
        <div class="sb-form-padding">
            <div class="form-group">
                <label for="Name">Name</label>
                <input ng-model="model.page.name" id="Name" type="text" class="form-control" value="Blog Post">
            </div>
            <div class="form-group">
                <label for="Title">Title</label>
                <input ng-model="model.page.description" class="form-control" id="Title" rows="4"
                       placeholder="Page Title">
            </div>
            <a ng-click="model.updatePage(model.page)" class="btn btn-primary btn-block">
                Update
            </a>
            <a ng-click="model.deletePage()" class="btn btn-danger btn-block">
                Delete
            </a>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid bg-primary">
            <a class="glyphicon glyphicon-user pull-right navbar-brand pull-right" href="#/user/{{model.userId}}">
            </a>
        </div>
    </nav>
</div>
