
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid bg-primary">
        <div class="col-sm-4 hidden-xs">
            <a class="glyphicon glyphicon-chevron-left navbar-brand pull-left" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"></a>
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Pages</a>
            </div>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="glyphicon glyphicon-plus pull-right navbar-brand"></a>
        </div>

        <div class="col-sm-8">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="glyphicon glyphicon-chevron-left navbar-brand visible-xs"></a>
            <a ng-click= "model.createPage(page)" class="glyphicon glyphicon-ok pull-right navbar-brand"></a>
            <div class="navbar-header">
                <a class="navbar-brand no-left-padding no-left-margin" href="#">New Page</a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid sb-extend-screen">
    <div class="col-sm-4 hidden-xs sb-col-border sb-full-screen">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="page in model.pages">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-sm-8 sb-full-screen">
        <div class="sb-form-padding">
            <label for="Name">Name</label>
            <input ng-model="page.name"
                   placeholder="Page Name"
                   class="form-control" id="Name"/>

            <label for="Title">Title</label>
            <input  ng-model="page.description"
                    placeholder="Page Title"
                      class="form-control"
                      id="Title">
            <a ng-click= "model.createPage(page)" class="btn btn-primary btn-block">
                Create
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <a class="glyphicon glyphicon-user pull-right navbar-brand pull-right" href="#/user/{{model.userId}}">
        </a>
    </div>
</nav>

